<ul class="list-group" *ngIf="posts.length>0 ;else noTodo">
    <li class="list-group-item d-flex justify-content-between" *ngFor="let post of posts">
        <strong>
            {{post.title|titlecase}}
        </strong>
        <div>
            <button class="btn btn-outline-primary btn-sm mr-1">Edit</button>
            <button class="btn btn-outline-danger btn-sm" (click)="removeList(post.id)">Remove</button>

        </div>
    </li>
</ul>
<ng-template #noTodo>
    <p class="alert alert-danger border">No todo added yet , Add to let go !</p>
</ng-template>